@use '../mixin' as *;

.product {
  &-list {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--productGap);
  }

  &-item {
    width: calc((100% - var(--productGap) * (var(--productColumn) - 1)) / var(--productColumn));
    height: 446px;
    position: relative;
    overflow: hidden;

    .discount-price {
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
    }

    .origin-price {
      color: var(--cl-gray-150);
      text-decoration: line-through;
    }

    .btn-add {
      padding: 12px 52px;
      background-color: var(--cl-white);
      color: var(--cl-brown);
      cursor: pointer;
      font-weight: 600;
    }

    .card-menu {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
    }

    .menu-action {
      display: flex;
      gap: 4px;
      cursor: pointer;

      p {
        color: var(--cl-white);
        font-weight: 600;
      }
    }

    .menu-icon {
      width: 16px;
      height: 16px;
    }
  }

  &-img {
    height: 301px;

    img {
      object-fit: cover;
    }
  }

  &-discount {
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: var(--cl-pink);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cl-white);
    inset: 0;
    top: 24px;
    left: calc(100% - 72px);
  }

  &-new {
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: var(--cl-green);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cl-white);
    inset: 0;
    top: 24px;
    left: calc(100% - 72px);
  }

  &-content {
    background-color: var(--cl-white-200);
    padding: 16px 20px 30px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 145px;
  }

  &-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
  }

  &-desc {
    font-weight: 500;
    line-height: 24px;
    min-height: 24px;
    color: var(--cl-gray-200);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }

  &-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &-action {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(58, 58, 58, 0.72);
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.3s linear;
    position: absolute;
    inset: 0;
    z-index: 10;
  }

  &-item:hover &-action {
    transform: translateY(0);
    opacity: 1;
  }
}
