// @import url(_mixin.scss);

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.d-flex {
  display: flex;
}

.d-flex-col {
  flex-direction: column;
}

.flex-items {
  &-center {
    align-items: center;
  }
  &-start {
    align-items: start;
  }
}

.flex-justify {
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
}

.font-500 {
  font-weight: 500;
}

.cur-pointer {
  cursor: pointer;
}

$SM: 576px;
$MD: 960px;
$LG: 1440px;

@mixin responsive($screen-size) {
  @if $screen-size == SM {
    @media only screen and (min-width: $SM) {
      @content;
    }
  } @else if $screen-size == MD {
    @media only screen and (min-width: $MD) {
      @content;
    }
  } @else if $screen-size == LG {
    @media only screen and (min-width: $LG) {
      @content;
    }
  }
}

.container {
  @include responsive(SM) {
    max-width: 576px;
  }

  @include responsive(MD) {
    max-width: 960px;
  }

  @include responsive(LG) {
    max-width: 1440px;
  }
}
